In [14]:
import numpy as np 
import pandas as pd 
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#modelling
from sklearn.metrics import mean_squared_error ,r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor , AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV , RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier ,XGBRegressor

import warnings
warnings.filterwarnings("ignore")

In [15]:
filepath = "../data/data.csv"
df = pd.read_csv(filepath)

In [17]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,218
1,female,group C,some college,standard,completed,69,90,88,82.333333,247
2,female,group B,master's degree,standard,none,90,95,93,92.666667,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,148
4,male,group C,some college,standard,none,76,78,75,76.333333,229

In [21]:
X = df.drop(columns=['math_score'],axis=1)
Y = df['math_score']
print(X.head())
print(Y.head())

   gender race_ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  reading_score  writing_score  average_score  \
0                    none             72             74      72.666667
1               completed             90             88      82.333333
2                    none             95             93      92.666667
3                    none             57             44      49.333333
4                    none             78             75      76.333333

   total_score
0          218
1          247
2          278
3          148
4          229
0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [25]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer ,cat_features),
        ("StandardScaler",numeric_transformer,num_features),
        ]
)